<nav class="navbar navbar-inverse navbar-fixed-top smsnav">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand text-hide" href="#">Brand Text</a>
        <a class="smstitle"><h3>Saket Medical Stores</h3></a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbutton"><a href="#">Home</a></li>
          <li class="navbutton"><a href="#">Sign In</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>